*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* Start Section 1 */

.section1{
    background-image: url("./images/donation6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    color: whitesmoke;
}
.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header1{
    font-size: 70px;
    text-align: center;
}
.header p{
    font-size: 20px;
}
.header button{
    margin: 0 auto;
    display: block;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    background-color: tomato;
    color: white;
}
/* End Section 1 */

/* Start Section 2 */
.middle1{
    margin-top: 100px;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
}
.middle1 h1{
    font-size: 50px;
}
.middle1 button{
    height: 100px;
    width: 120px;
    border-radius: 10px;
    background-color: bisque;
    color: rgb(156, 114, 114);
    font-size: 30px;
    padding: 5px;
    margin: 50px;
}
.middle1 #twohundred{
    background-color: rgb(233, 175, 175);
    color: red;
}
.middle1 #but{
    height: 70px;
    width: 150px;
    font-size: medium;
    font-weight: bold;
    color: whitesmoke;
    background-color: tomato;
}
#middle1 #inpu{
    height: 100px;
}

.middle1 #inpu input::placeholder{
    font-size: large;
    text-align: center;
}

#middle1 #inp{
    height: 40px;
    width: 100%;
    text-align: center;
}
/* End Section 2 */

/* Start Setion 3 */
.section3{
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.middle2 #intro{
    text-align: center;
}
.middle2 #intro h1{
    font-size: 60px;
}
.base{
    text-align: center;
    height: 300px;
    padding-left: 20px;
    display: flex;
    
}
.base #div1{
    background-color: rgb(218, 253, 242);
    margin: 10px;
    
}
.base #div2{
    background-color: rgb(255, 192, 181);
    margin: 10px;
}
.base #div3{
    background-color: bisque;
    margin: 10px;
}
.base img{
    margin-top: 10px;
}
/* Section 3 End */

/* Section 4 Start */
.section4{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}
#text1{
    margin: 60px;
    width: 55%;
    
    margin-left: 10px;
}
#text1 h1{
    font-size: 50px;
    font-weight: bolder;
}
.container1{
    display: flex;
}
.container1 button{
    height: 60px;
    width: 150px;
    font-size: 15px;
    font-weight: bolder;
    background-color: tomato;
    border-radius: 5px;
    color: aliceblue;
}
/* Section 4 End */

/* Section 5 Start */
.section5{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}
#text2{
    margin: 60px;
    width: 55%;
    margin-right: 20px;
}
#text2 h1{
    font-size: 50px;
    font-weight: bolder;
}
.container2{
    display: flex;
}
.container2 button{
    height: 60px;
    width: 150px;
    font-size: 15px;
    font-weight: bolder;
    background-color: tomato;
    border-radius: 5px;
    color: aliceblue;
}
/* Section 5 End */

/* Section 6 Start */
.section6{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}
.main{
    text-align: center;
}
.main h1{
    font-size: 50px;
    font-weight: bolder;
}
#cont{
    
    margin-left: 150px;
    margin-right: 150px;
    width:850px;
    height:100px;
    margin-top:70px;
    background-color: rgb(241, 241, 135);
    border: none;
    border-radius: 10px;
    padding-left:15px;
}

#cont #inpy{
    margin-top: 50px;
    
}
#inpy input::placeholder{
    font-size: large;
    text-align: center;
}

#cont button{
    margin-top: 10px;
}
#butty{
    height: 30px;
    width: 100px;
    font-size: 15px;
    font-weight: bolder;
    background-color: rgb(135, 71, 255);
    border-radius: 5px;
    margin-top: 90px;
    color: aliceblue;
}
/* Section 6 End */

/* Added Footer */
footer{
    height:150px;
    width:100%;
    bottom:0;
    border:1px solid black;
    box-sizing: border-box;
    background-color: green
}
.foot h1{
    text-align: center;
    margin-top:30px;
    color: white;
}
.foot p{
    text-align: center;
    margin-top:30px;
    color: yellow;
}